@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background: #0C0C0C;
  font-family: 'Kanit', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #D7E2EA;
}

.hero-heading {
  background: linear-gradient(
    180deg,
    #646973 0%,
    #BBCCD7 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}